body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face{
    font-family: Lucida Blackletter Regular;
    src: url('/fonts/Lucida Blackletter Regular.ttf');
}

@font-face{
    font-family: Olde English;
    src: url('/fonts/OldeEnglish.ttf');
}

@font-face{
    font-family: LOTR;
    src: url('/fonts/ALEAWBB_.TTF');
}

.my-header{
    background-color: #5B3D29;
}

.header-title-main {
    font-family: 'Olde English';
}

.header-title-links {
    font-family: LOTR;
}

.my-body{
    background-color: #A58C76;
}

.my-form{
    display: flex;
    justify-content:center;
}

.form-container {
   border: 4px solid #383838;
   background: #878787;
   background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#878787));
   background: -webkit-linear-gradient(top, #cfcfcf, #878787);
   background: -moz-linear-gradient(top, #cfcfcf, #878787);
   background: -ms-linear-gradient(top, #cfcfcf, #878787);
   background: -o-linear-gradient(top, #cfcfcf, #878787);
   background-image: -ms-linear-gradient(top, #cfcfcf 0%, #878787 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 1px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:300px;
   }
.form-field {
   border: 2px solid #616161;
   background: #f5f5f5;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #050505;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #000000;
   }
.form-container h2 {
   text-shadow: #e3e3e3 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #e3e3e3 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 2px solid #4a4a4a;
   background: #1f1f1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#1f1f1f));
   background: -webkit-linear-gradient(top, #757575, #1f1f1f);
   background: -moz-linear-gradient(top, #757575, #1f1f1f);
   background: -ms-linear-gradient(top, #757575, #1f1f1f);
   background: -o-linear-gradient(top, #757575, #1f1f1f);
   background-image: -ms-linear-gradient(top, #757575 0%, #1f1f1f 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #8c8c8c 0 1px 0;
   color: #f0f0f0;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 2px solid #ffffff;
   text-shadow: #0d0d0d 0 1px 0;
   background: #a6a6a6;
   background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#a6a6a6));
   background: -webkit-linear-gradient(top, #c9c9c9, #a6a6a6);
   background: -moz-linear-gradient(top, #c9c9c9, #a6a6a6);
   background: -ms-linear-gradient(top, #c9c9c9, #a6a6a6);
   background: -o-linear-gradient(top, #c9c9c9, #a6a6a6);
   background-image: -ms-linear-gradient(top, #c9c9c9 0%, #a6a6a6 100%);
   color: #ffffff;
   }
.submit-button:active {
   text-shadow: #000000 0 1px 0;
   border: 2px solid #000000;
   background: #000000;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#a6a6a6));
   background: -webkit-linear-gradient(top, #6aa436, #000000);
   background: -moz-linear-gradient(top, #6aa436, #000000);
   background: -ms-linear-gradient(top, #6aa436, #000000);
   background: -o-linear-gradient(top, #6aa436, #000000);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #000000 100%);
   color: #000000;
   }