
@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<h3>Will Mabrey</h3>

<p>“Sure, I can talk like you, but I choose not to, It's like an art, you know? Picasso had to prove to the world he could paint the right way, before he goes putting both eyes on the side of a face... See if you paint wrong because that's the best you can do, you just a chump. But you do it because you want to? Then you're an artist...You can take that to the grave and dig it up when you need it.” </p>
<h5><strong>― Neal Shusterman, Unwind</strong></h5>