@model IEnumerable<My.AppStore.Models.CategoryModel>
@{ 
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>App Store</h1>
</div>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="well">
                <h2>@Model.ElementAt(i).Name</h2>
            </div>
            <div class="well">
                @for (int j = 0; j < Model.ElementAt(i).Products.Count(); j++)
                {
                    <h3>@Model.ElementAt(i).Products.ElementAt(j).Name</h3>
                }
            </div>
        </div>
    </div>
}
